.descripcion-column {
    max-width: 300px; /* ajusta este valor según sea necesario */
    overflow-x: auto; /* añade una barra de desplazamiento horizontal si es necesario */
}

.custom-search-input {
    width: 200px;
}

.avatar-sm {
    width: 32px;        /* Ancho del avatar */
    height: 32px;       /* Altura del avatar */
    border-radius: 50%; /* Hace el avatar completamente circular */
    display: block;     /* Asegura que el span se comporte como un bloque, lo que es útil para dimensiones y alineación */
    background-position: center center; /* Centra la imagen de fondo */
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el espacio sin deformarse */
    overflow: hidden;   /* Evita que la imagen de fondo se desborde */
}